<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <%- include('./partials/header.ejs')%>

    <p id="edit-title">Edit Post</p>
    <div class="field-list">
    <form action="/home/<%=post._id%>?_method=PUT" method="POST">
        Title: <input type="text" name="title" value="<%=post.title%>" /><br />
        Author: <input type="text" name="author" value="<%=post.author%>" /><br />
        Image: <input type="url image" name="img" value="<%=post.img%>" /><br />
        Text: <textarea id="content" type="text" name="contentText" /></textarea><br />
        <input type="submit" value="Sumbit Changes" />
    </form>
    </div>
    
</body>
</html>